#include<windows.h>

100 ICON "crk.ico"

100 DIALOG 0, 0, 176, 78
STYLE  DS_NOIDLEMSG | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Patch for Virtual Game Station 1.41"
CLASS  "PatchVGS"
FONT 8, "MS SANS SERIF"
BEGIN
   CONTROL "Info", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 3, 42, 169, 33 
   CONTROL "Patch", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 97, 55, 63, 14 
   CONTROL "Progress", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 3, 0, 169, 39 
   CONTROL "", 1000, "Gauge", WS_CHILD | WS_VISIBLE , 13, 13, 150, 15 
   CONTROL "Patch for VGS1.41 to fixCD runner", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 52, 60, 16 
END